<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.order.dao.OrderDao">
    <sql id="Base_Column_List">
        order_id, create_time, create_person, update_time, update_person, version, is_deleted,
        order_code, order_client_code, order_store_code, order_total_price, order_condition,
        order_pay_condition, order_pay_time
    </sql>
    <!-- 前台展示字段 -->
    <sql id="Display_Column_List">
        order_id, t_order.version, order_code, order_client_code, order_store_code, order_total_price, order_condition,
        order_pay_condition, order_pay_time
    </sql>

    <resultMap id="listOrderDeepenResultMap" type="com.xzsd.app.order.entity.OrderInfo">
        <id column="store_name" property="storeName" jdbcType="VARCHAR"/>
        <result column="store_address" property="storeAddress" jdbcType="VARCHAR"/>
        <result column="order_total_price" property="orderTotalPrice" jdbcType="VARCHAR"/>
        <result column="order_total_sum" property="orderTotalSum" jdbcType="VARCHAR"/>
        <result column="order_id" property="orderId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="order_condition" property="orderCondition" jdbcType="VARCHAR"/>

        <!-- 关联商品信息 -->
        <collection property="orderDetailsInfoList" ofType="com.xzsd.app.order.entity.OrderDetailsInfo">
            <id column="goods_code" property="orderDetailGoodsCode" jdbcType="VARCHAR"/>
            <result column="order_detail_goods_price" property="orderDetailGoodsTotalPrice" jdbcType="VARCHAR"/>
            <result column="goods_name" property="orderDetailGoodsName" jdbcType="VARCHAR"/>
            <result column="image_url" property="goodsImagePath" jdbcType="VARCHAR"/>
            <result column="order_detail_goods_num" property="orderDetailGoodsNum" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>



    <resultMap id="listOrdersMap" type="com.xzsd.app.order.entity.OrderInfo">
        <id column="order_id" property="orderId" jdbcType="VARCHAR"/>
        <result column="order_condition" property="orderCondition" jdbcType="VARCHAR"/>
        <result column="order_total_price" property="orderTotalPrice" jdbcType="VARCHAR"/>
        <result column="order_total_sum" property="orderTotalSum" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="VARCHAR"/>

        <!-- 关联商品信息 -->
        <collection property="goodsList" ofType="com.xzsd.app.order.entity.OrderDetailsInfo">
            <id column="order_detail_goods_code" property="orderDetailGoodsCode" jdbcType="VARCHAR"/>
            <result column="goods_sale_price" property="orderDetailGoodsSalePrice" jdbcType="VARCHAR"/>
            <result column="goods_name" property="orderDetailGoodsName" jdbcType="VARCHAR"/>
            <result column="image_url" property="goodsImagePath" jdbcType="VARCHAR"/>
            <result column="order_detail_goods_num" property="orderDetailGoodsNum" jdbcType="VARCHAR"/>
            <result column="goods_description" property="goodsDescription" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <!-- 新增订单信息 -->
    <insert id="addOrder" parameterType="com.xzsd.app.order.entity.OrderInfo">
        insert into
        t_order
                (
                order_pay_time,
                order_id,
                create_time,
                create_person,
                update_time,
                update_person,
                version,
                is_deleted,
                order_client_code,
                order_store_code,
                order_total_price,
                order_condition,
                order_pay_condition,
                order_total_sum
                )
                values(
                now(),
                #{orderId},
                now(),
                #{createPerson},
                now(),
                #{updatePerson},
                #{version},
                #{isDeleted},
                #{orderClientCode},
                #{orderStoreCode},
                #{orderTotalPrice},
                #{orderCondition},
                #{OrderPayCondition},
                #{orderTotalSum}
                )

    </insert>

    <!--订单状态修改-->
    <update id="updateOrderCondition" parameterType="com.xzsd.app.order.entity.OrderInfo">
        update
            t_order
        set
            order_condition = #{orderCondition},
            update_time = now(),
            create_person = #{createPerson},
            version = version + 1
        where
            order_id = #{orderId}
            and version = #{version}
    </update>

    <!-- 查询订单详情接口 -->
    <select id="findOrderById" resultMap="listOrderDeepenResultMap">
        SELECT
	        t_store_info.store_name store_name,
	        t_store_info.store_address store_address,
	        t_order.order_total_price order_total_price,
	        t_order.order_total_sum order_total_sum,
	        t_order.order_id order_id,
	        t_order.create_time create_time,
	        t_order.order_condition order_condition,
	        t_order_detail.order_detail_goods_price,
	        t_order_detail.order_detail_goods_num,
	        t_goods_info.goods_code,
	        t_goods_info.goods_name,
	        t_image_info.image_url

	    from
	        t_order
	    LEFT JOIN t_store_info on t_order.order_store_code = t_store_info.store_id

	    LEFT JOIN t_order_detail on t_order_detail.order_detail_order_code = t_order.order_id

	    LEFT JOIN t_goods_info on t_order_detail.order_detail_goods_code = t_goods_info.goods_id

	    LEFT JOIN t_image_info on t_goods_info.goods_id = t_image_info.image_cate_code

	    WHERE
	    t_order.is_deleted = 1
	    and
	        t_order.order_id = #{orderId}

    </select>

    <!-- 订单分页列表 -->
    <select id="listOrder" resultMap="listOrdersMap">
        SELECT
        t_order.order_id order_id,
        t_order.order_condition order_condition,
        t_goods_info.goods_name,
        t_image_info.image_url,
        t_goods_info.goods_description,
        t_goods_info.goods_sale_price,
        t_order_detail.order_detail_goods_num,

        t_order_detail.order_detail_goods_code,

        t_order.order_total_price order_total_price,
        t_order.order_total_sum order_total_sum,
        t_order.version version

        FROM
        t_order
        LEFT JOIN t_order_detail on t_order.order_id = t_order_detail.order_detail_order_code
        LEFT JOIN t_goods_info on t_goods_info.goods_id = t_order_detail.order_detail_goods_code
        LEFT JOIN t_image_info on t_goods_info.goods_id = t_image_info.image_cate_code

        WHERE
        t_order.is_deleted = 1
        <if test="orderCondition != null and orderCondition != ''">
            and t_order.order_condition like CONCAT('%', #{orderCondition}, '%')
        </if>
        order by t_order.create_time desc

    </select>




</mapper>