<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.driver.dao.DriverDao">

    <!--统计用户账号数量-->
    <select id="countDriverLogin" parameterType="com.xzsd.pc.driver.entity.DriverInfo" resultType="int">
        select count(driver_id)
        from t_driver_info
        where is_deleted = 0
        and driver_client_code = #{driverClientCode}
    </select>

    <!--新增用户-->
    <insert id="saveDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        insert into t_driver_info(
        driver_id,
        create_time,
        create_person,
        update_time,
        update_person,
        version,
        is_deleted,
        driver_client_code,
        driver_province_code,
        driver_city_code,
        driver_region_code
         )
        values (
            #{driverId},
            #{createTime},
            #{createPerson},
            #{updateTime},
            #{updatePerson},
            #{version},
            #{isDeleted},
            #{driverClientCode},
            #{driverProvinceCode},
            #{driverCityCode},
            #{driverRegionCode}
        )
    </insert>

    <!--用户列表-->
    <select id="listDriversByPage" parameterType="com.xzsd.pc.driver.entity.DriverInfo"
            resultType="com.xzsd.pc.driver.entity.DriverInfo">
        select
        a.driver_id driverId,
        a.create_time CreateTime,
        a.create_person createPerson,
        a.update_time updateTime,
        a.update_person UpdatePerson,
        a.version version,
        a.is_deleted isDelete,
        a.driver_client_code clientCode,
        a.driver_province_code provinceCode,
        a.driver_city_code cityCode,
        a.driver_region_code regionCode
        from t_driver_info a
        where a.is_deleted = 0
        <if test="driverId != null and driverId != ''">
            and a.driver_id like concat('%', #{driverId}, '%')
        </if>
        order by create_time desc
    </select>


    <!--获取用户信息-->
    <select id="getDriverBydriverNo" parameterType="java.lang.String" resultType="com.xzsd.pc.driver.entity.DriverInfo">
        select
        driver_id,
        create_time,
        create_person,
        update_time,
        update_person,
        version,
        is_deleted,
        driver_client_code,
        driver_province_code,
        driver_city_code,
        driver_region_code
        from t_driver_info
        where driver_id = #{driverId}
        and is_deleted = 0
    </select>


    <!--修改用户信息-->
    <update id="updateDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        update t_driver_info
        set
        driver_id = #{driverId},
        create_time = now(),
        create_person = #{createPerson},
        update_time = now(),
        update_person = #{updatePerson},
        is_deleted = #{isDeleted},
        driver_client_code = #{driverClientCode},
        driver_province_code = #{driverProvinceCode},
        driver_city_code = #{driverCityCode},
        driver_region_code = #{driverRegionCode}
        version      = version + 1

        where driver_id = #{driverId}

    </update>

    <!--删除用户-->
    <update id="deleteDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        update t_driver_info
        set
        is_deleted = 1,
        update_time = now(),
        update_person = #{driverid},
        version = version + 1
        where driver_id in
        <foreach item="item" index="index" collection="listCode" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>


</mapper>