<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.user.dao.UserDao">

    <sql id="Base_Column_List">
    user_id, t_sys_user_info.create_time, t_sys_user_info.create_person, t_sys_user_info.update_time,
    t_sys_user_info.update_person, t_sys_user_info.version, t_sys_user_info.is_deleted,
    user_code, user_login_name, user_password, user_role, user_name, user_sex, user_phone, 
    user_mail, user_idcard, user_store_id,user_image_url
  </sql>
    <!-- 用户信息前台展示字段 -->
    <sql id="Display_Column_List">
    user_id, version, user_code, user_login_name, user_password, user_role, user_name, user_sex, user_phone,
    user_mail, user_idcard, user_store_id,user_image_url
  </sql>


    <!-- 新增用户信息 -->
    <insert id="insertSelective" parameterType="com.xzsd.pc.user.entity.User">
        insert into t_sys_user_info
                (user_id,
                create_time,
                create_person,
                update_time,
                update_person,
                version,
                is_deleted,
                user_code,
                user_login_name,
                user_password,
                user_role,
                user_name,
                user_sex,
                user_phone,
                user_mail,
                user_idcard,
                user_store_id,
                user_image_url)
          value
              (
                #{userId},
                now(),
                #{createPerson},
                now(),
                #{updatePerson},
                #{version},
                #{isDeleted},
                #{userCode},
                #{userAcct},
                #{userPassword},
                #{role},
                #{userName},
                #{sex},
                #{phone},
                #{mail},
                #{idCard},
                #{userStoreId},
                #{imagePath})
    </insert>

    <!-- 根据用户账号信息计算用户数 -->
    <select id="countUserByUserLoginName" parameterType="java.lang.String" resultType="int">
        SELECT
            count(*)
        FROM
            t_sys_user_info
        WHERE
            is_deleted = 1
        and
            user_login_name = #{userLoginName,jdbcType=VARCHAR}
    </select>

    <!-- 根据用户信息条件查询用户信息（管理员、店长、司机） -->
    <select id="listUsers" parameterType="com.xzsd.pc.user.entity.User" resultType="com.xzsd.pc.user.entity.User">
        SELECT
        user_id userId,
        version version,
        user_code userCode,
        user_login_name userAcct,
        user_password userPassword,
        user_role role,
        user_name userName,
        user_sex sex,
        user_phone phone,
        user_mail mail,
        user_idcard idCard,
        user_store_id userStoreId,
        user_image_url imagePath
        FROM
        t_sys_user_info
        WHERE
        is_deleted = 1
        <if test="userName != null and userName != ''">
            and user_name like CONCAT('%', #{userName}, '%')
        </if>
        <if test="userAcct != null and userAcct != ''">
            and user_login_name like CONCAT('%', #{userAcct}, '%')
        </if>
        <if test="role != null and role != ''">
            and user_role = #{role}
        </if>
    </select>

    <!-- 根据id查询用户信息 -->
    <select id="selectByPrimaryKey" resultType="com.xzsd.pc.user.entity.User" parameterType="java.lang.String">
        select
            user_id userId,
            t_sys_user_info.create_time createTime,
            t_sys_user_info.create_person createPerson,
            t_sys_user_info.update_time updateTime,
            t_sys_user_info.update_person updatePerson,
            t_sys_user_info.version version,
            t_sys_user_info.is_deleted isDeleted,
            user_code userCode,
            user_login_name userAcct,
            user_password userPassword,
            user_role role,
            user_name userName,
            user_sex sex,
            user_phone phone,
            user_mail mail,
            user_idcard idCard,
            user_store_id userStoreId,
            user_image_url imagePath
        from
            t_sys_user_info
        where
            t_sys_user_info.is_deleted = 1
        and
            user_id = #{userId,jdbcType=VARCHAR}
    </select>

    <!-- 根据id修改用户信息 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.xzsd.pc.user.entity.User">
        update t_sys_user_info
        set
        create_time = now(),
        update_time = now(),
        <if test="createPerson != null and createPerson != ''">
            create_person = #{createPerson},
        </if>
        <if test="updatePerson != null and updatePerson != ''">
            update_person = #{updatePerson},
        </if>

        <if test="isDeleted != null and isDeleted != ''">
            is_deleted = #{isDeleted},
        </if>
        <if test="userCode != null and userCode != ''">
            user_code = #{userCode},
        </if>

        <if test="userAcct != null and userAcct != ''">
            user_login_name = #{userAcct},
        </if>
        <if test="userPassword != null and userPassword != ''">
            user_password = #{userPassword},
        </if>

        <if test="userName != null and userName != ''">
            user_name = #{userName},
        </if>
        <if test="sex != null and sex != ''">
            user_sex = #{sex},
        </if>

        <if test="phone != null and phone != ''">
            user_phone = #{phone},
        </if>
        <if test="idCard != null and idCard != ''">
            user_idcard = #{idCard},
        </if>

        <if test="role != null and role != ''">
            user_role = #{role},
        </if>
        <if test="mail != null and mail != ''">
            user_mail = #{mail},
        </if>

        <if test="userStoreId != null and userStoreId != ''">
            user_store_id = #{userStoreId},
        </if>
        <if test="imagePath != null and imagePath != ''">
            user_image_url = #{imagePath},
        </if>

                version      = version + 1
        where user_id = #{userId}
    </update>

    <!-- 删除用户信息（修改字段is_delete状态，并非真正删除） -->
    <update id="deleteUserById" parameterType="java.lang.String">
        update
            t_sys_user_info
        set
            is_deleted = 0,
            update_time = now(),
            update_person = #{updatePersonId},
            version = version + 1
        where
            user_id
        in
            <foreach item="userId" index="index" collection="listIds" open="(" separator="," close=")">
                #{userId}
            </foreach>
    </update>

    <!-- 根据id查询用户信息
    <select id="findUserById" parameterType="java.lang.String" resultType="com.xzsd.pc.user.entity.User">
        select
            <include refid="Display_Column_List"/>
        from
            t_sys_user_info
        where
            t_sys_user_info.is_deleted = 1
        and
            user_id = #{userId,jdbcType=VARCHAR}
    </select>
-->
    <!-- 根据id查询用户信息 -->
    <select id="findUserById" parameterType="java.lang.String" resultType="com.xzsd.pc.user.entity.User">
        select
        <include refid="Display_Column_List"/>
        , t_image_info.image_url
        from
        t_sys_user_info
        LEFT JOIN t_image_info on user_id = image_cate_code
        where
        t_sys_user_info.is_deleted = 1
        and
        user_id = #{userId,jdbcType=VARCHAR}
    </select>


</mapper>