<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.menu.dao.MenuDao">
    <sql id="Base_Column_List">
    menu_id, create_time, create_person, update_time, update_person, version, is_deleted, 
    menu_name, menu_route, is_menu, menu_comment, menu_parent
  </sql>
    <!-- 菜单信息前台展示字段 -->
    <sql id="Display_Column_List">
    menu_id, version, menu_name, menu_route, is_menu, menu_comment, menu_parent
    </sql>

    <!-- 新增菜单信息 -->
    <insert id="insertSelective" parameterType="com.xzsd.pc.menu.entity.Menu">
        insert into t_menu
        (
                menu_id,
                create_time,
                create_person,
                update_time,
                update_person,
                version,
                is_deleted,
                menu_name,
                menu_route,
                is_menu,
                menu_comment,
                menu_parent)
        value (
                #{menuId},
                #{createTime},
                #{createPerson},
                #{updateTime},
                #{updatePerson},
                #{version},
                #{isDeleted},
                #{menuName},
                #{menuRoute},
                #{isMenu},
                #{menuComment},
                #{menuParent})

    </insert>

    <!-- 根据菜单名称计算菜单数 -->
    <select id="countMenuByMenuName" parameterType="java.lang.String" resultType="int">
        SELECT
            count(*)
        FROM
            t_menu
        WHERE
            is_deleted = 1
        and
            menu_name = #{menuName,jdbcType=VARCHAR}
    </select>

    <!-- 查询菜单列表接口 -->
    <select id="listMenus" parameterType="com.xzsd.pc.menu.entity.Menu" resultType="com.xzsd.pc.menu.entity.Menu">
        SELECT
        <include refid="Display_Column_List"/>
        FROM
        t_menu
        WHERE
        is_deleted = 1
    </select>

    <!-- 据菜单id查找菜单信息 -->
    <select id="selectByPrimaryKey" resultType="com.xzsd.pc.menu.entity.Menu" parameterType="java.lang.String">
        select
        <include refid="Display_Column_List"/>
        from
        t_menu
        where
        is_deleted = 1
        and
        menu_id = #{menuId,jdbcType=VARCHAR}
    </select>

    <!-- 修改菜单信息 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.xzsd.pc.menu.entity.Menu">
        update t_menu
            set
                create_time = #{createTime},
                create_person = #{createPerson},
                update_time = #{updateTime},
                update_person = #{updatePerson},
                version = #{version},
                is_deleted = #{isDeleted},
                menu_name = #{menuName},
                menu_route = #{menuRoute},
                is_menu = #{isMenu},
                menu_comment = #{menuComment},
                menu_parent = #{menuParent}
        where menu_id = #{menuId}
    </update>

    <!-- 删除菜单信息（修改字段is_delete状态，并非真正删除） -->
    <update id="deleteMenuById" parameterType="java.lang.String">
        update
            t_menu
        set
            is_deleted = 0,
            update_time = now(),
            update_person = #{updatePersonId},
            version = version + 1
        where
            menu_id
        in
            <foreach item="menuId" index="index" collection="listIds" open="(" separator="," close=")">
                #{menuId}
            </foreach>
    </update>


</mapper>